<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>いとこ！</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('ui.static', filename='css/style.css') }}">
    <script type="text/javascript" src="{{ url_for('ui.static', filename='js/script.js') }}"></script>
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flashes">
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <h1>いとこ！</h1>
    <form method="post" enctype="multipart/form-data" action="{{ url_for('api.upload_file') }}">
        <div id="form-file">
            <input id="file-select" type="file" name="file"/>
            <label for="opt-encrypt"><input id="opt-encrypt" type="checkbox" name="encrypt"/> Encrypt</label>
            <label for="opt-permanent"><input id="opt-permanent" type="checkbox" name="permanent"/> Permanent</label>
            <label for="opt-shorten"><input id="opt-shorten" type="checkbox" name="shorten"/> Shorten</label>
        </div>
        <div id="form-submit">
            <input id="btn-submit" type="submit" value="Upload"/>
        </div>
    </form>
    <footer>
        Files are responsibility of the uploaders.
        Communicate any abuse to <a href="mailto:{{ config.ITOKO_UI.abuse_email }}">{{ config.ITOKO_UI.abuse_email }}</a>.
        Hosted on <a href="https://bitbucket.org/alex108/itoko">BitBucket</a> and <a href="https://github.com/alexmikoto/itoko">GitHub</a>.<br/>
    </footer>
</body>
</html>