<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Erio Cabinet</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flashes">
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <h1>Erio Cabinet</h1>
    <form method="post" enctype="multipart/form-data" action="{{ url_for('upload_file') }}">
        <div id="form-file">
            <input id="file-select" type="file" name="file"/>
            <label for="opt-encrypt"><input id="opt-encrypt" type="checkbox" name="encrypt"/> Encrypt</label>
        </div>
        <div id="form-submit">
            <input id="btn-submit" type="submit" value="Upload"/>
        </div>
    </form>
    <footer>
        This site is in an alpha state, anything could happen.<br/>
        Files are still manually deleted.<br/>
        I assume no responsibility for content uploaded.<br/>
    </footer>
</body>
</html>